# Build Paths
/build

#Clion paths
/.idea

#internal tool
/tools/dbimgbuild

/local/BinanceSPOT-85261bc6.cpk
/local/CtTheme-2df95e88.cpk
/local/CtTheme-2df95e88.cpk.zip
/local/ExchangeRate-f77ecf55.cpk